body {
    width: 100%;
    margin: 0 auto;
    background-color: #151108;
}

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    width: 78%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 23px;
}

.header__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.header p {
    font-family: 'Lao UI';
    font-size: 14px;
    padding-top: 18px;
}

.top-bg {
    background-image: url('../resources/topheaderbg.png');
    background-size: cover;
}

.top-section {
    margin: 0 auto;
    max-width: 1300px;
    height: 566px;
    width: 100%;
}

nav {
    width: 453px;
    height: 40px;
    background-color: rgb(245 197 6);
    background-repeat: no-repeat;
    box-shadow: -4px -4px 0px 0px rgb(245 197 6 / 40%), -8px -8px 0px 0px rgb(245 197 6 / 30%);
    margin-top: 30px;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

.header__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__links li {
    height: 40px;
    width: 33%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.header__links li img {
    padding-right: 5px;
    height: 20px;
}

.header__links li a {
    color: #9b7d08;
    text-decoration: none;
    font-size: 17px;
    transition: 0.1s;
}

.header__links li a:hover {
    color: #fff;
}

.header__links li:nth-child(2) {
    border-left: 1px solid #dcb105;
    border-right: 1px solid #dcb105;
}


/* nav ul li:first-child {
    list-style: none;
} */


/* nav ul li:first-child::before {
    content: url('../resources/aboutuspic.png');
    padding: 0 10px;
}

nav ul li:nth-child(2) {
    list-style: none;
}



nav ul li:nth-child(2)::after {
    content: '';
    border-right: #dcb105 1px solid;
    padding: 4px 10px;
}

nav ul li:last-child {
    list-style: none;
}

nav ul li:last-child::before {
    content: url('../resources/contactpic.png');
    padding-right: 10px;
    width: 20px;
} */

.top-section__container {
    font-family: 'Asap', sans-serif;
    margin-top: 124px;
    font-size: 40px;
    float: right;
    width: 43%;
}

.top-section__container__row {
    display: inline-block;
    margin-right: auto;
    text-align: center;
}

.top-section__container__text-highlighted {
    color: #f5c506;
    margin: 0 0 10px 0;
}

.top-section__container__text {
    margin: 0;
    color: #fff;
}

.info-panel-bg {
    background-color: #f7f7f7;
    box-shadow: 0 0px 10px -2px #000;
    position: relative;
}

.info-panel {
    max-width: 1300px;
    margin: 0 auto;
    height: 212px;
}

.info-units {
    font-family: 'Segoe UI Light';
    font-size: 22px;
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    letter-spacing: 1px;
}

.info-units__better-design,
.info-units__customise,
.info-units__itsfree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 212px;
    border-left: 1px solid #d4d4d4;
}

.info-units__itsfree {
    border-right: 1px solid #d4d4d4;
}

.info-units img {
    height: 100px;
    margin-top: 30px;
}

.info-blocks-bg {
    background-image: url('../resources/section3bg.png');
}

.info-blocks {
    max-width: 1300px;
    margin: 0 auto;
    height: 508px;
}

.info-blocks__label {
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 37px;
    width: 78%;
    padding: 35px 0 30px 0;
}

.cards {
    font-family: 'Segoe WP Light';
    color: #fff;
    margin: 0 auto;
    width: 78%;
}

.cards__group {
    width: 100%;
    display: grid;
    grid-template-columns: 313px 1fr 1fr;
}

.cards__group__text-card {
    background-color: #ec9e03;
    height: 233px;
    font-size: 29px;
    max-width: 100%;
}

.cards__group__text-card p {
    margin: 0;
    padding: 18px 25px;
    line-height: 40px;
}

.cards__group__twitter-card {
    margin: 0 auto;
    background-color: #ec9e03;
    height: 233px;
    font-size: 25px;
    width: 100%;
}

.cards__group__twitter-card p {
    text-align: right;
    margin: 0;
    padding: 15px;
}

.cards__group__twitter-card img {
    display: block;
    margin: 0 auto;
}

.footer-bg {
    background-image: url('../resources/footerbg.png');
    background-size: cover;
}

.footer {
    width: 100%;
}

.footer__upper {
    max-width: 1300px;
    margin: 0 auto;
    height: 497px;
}

.footer__upper__container {
    position: relative;
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__upper__label {
    margin: 0;
    text-align: center;
    font-family: 'PT Sans';
    color: #f5c506;
    font-size: 43px;
    padding-top: 60px;
}

.footer__upper__container__tablet,
.footer__upper__container__phone {
    margin-bottom: 40px;
}

.footer__upper__container__list {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    width: 40%;
}

.footer__upper__container__list ul li {
    color: #f5c506;
    line-height: 25px;
}

.footer__upper__container__list ul li p {
    color: #a9a9a7;
}

.footer__bottom {
    height: 64px;
    background-color: #4c4c4c;
    box-shadow: 0 0 15px 1px#000;
}

.footer__bottom__container {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    padding-top: 5px;
}

.footer__bottom__container img {
    height: 55px;
}

.footer__bottom__container h3 {
    margin: 0;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 29px;
}

@media (max-width: 1230px) {
    .header {
        width: 90%;
    }
}

@media (max-width: 1068px) {
    .header {
        width: 90%;
    }
    .header__logo {
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }
    nav {
        margin: 0 auto;
        margin-top: 10px;
    }
    .cards__group {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px 0;
    }
    .cards__group__img-card img {
        float: right;
    }
    .cards__group__twitter-card {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .top-section__container {
        width: 100%;
    }
    .top-section__container__row {
        display: block;
    }
    .info-units {
        width: 80%;
    }
    .cards__group__twitter-card,
    .cards__group {
        width: 100%;
    }
    .info-blocks {
        height: 650px;
    }
    .footer__upper__container {
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__upper__container__list {
        width: 70%;
    }
    .footer__upper {
        height: 700px;
    }
}

@media (max-width: 789px) {
    .nav {
        width: 100%;
    }
    .footer__upper__container__list {
        display: none;
    }
    .cards {
        width: 95%;
    }
    .info-units {
        width: 100%;
    }
    .footer__upper {
        height: 350px;
    }
    .footer__upper__container {
        width: 100%;
    }
    .footer__upper__container__pc {
        width: 250px;
    }
    .footer__upper__container__tablet {
        height: 100px;
    }
    .footer__upper__container__phone {
        width: 30px;
    }
    .cards__group__text-card {
        font-size: 22px;
        height: 190px;
    }
    .cards__group__text-card p {
        line-height: 25px;
    }
    .cards__group__img-card img {
        width: 100%;
    }
    .footer__upper__label {
        font-size: 30px;
    }
    .header p {
        display: none;
    }
}

@media (max-width: 640px) {
    .header {
        padding-top: 0;
        width: 100%;
    }
    .header__logo {
        height: 52px;
        width: 30%;
        background: linear-gradient(#5d5d5d, #464646);
        box-shadow: 0 -5px 10px 0 #000;
    }
    .header__links li a {
        font-size: 14px;
    }
    nav {
        margin-top: 0;
        box-shadow: none;
        width: 70%;
        height: 52px;
    }
    .header__links li {
        height: 52px;
    }
    .header__logo h1 {
        font-size: 19px;
    }
    .header__logo img {
        height: 40px;
    }
}

@media (max-width: 538px) {
    nav {
        margin-top: 0;
        box-shadow: none;
        width: 60%;
        height: 52px;
    }
    .header__logo {
        height: 52px;
        width: 40%;
    }
    .header__links li a {
        font-size: 10px;
    }
    .header__links li img {
        height: 15px;
    }
    .header__links li:nth-child(2) {
        height: 52px;
    }
}